{% extends "base.html" %}

{% block page_content %}

<h1>{{ task.name }}</h1>

<table class="table">
    <thead>
        <tr>
            <th>Estimated Duration</th>
            <th>Importance</th>
            <th>Due date</th>
            <th>Done?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{task.estimated_duration}}</td>
            <td>{{task.importance}}</td>
            <td>{{task.due_date}}</td>
            <td>{% if task.done %}Yes{% else %}No{% endif %}</td>
        </tr>
    </tbody>
</table>

{% endblock %}

