<h1>A Priori</h1>

<a href="{% url 'task-create' %}">New task</a>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Estimated Duration</th>
            <th>Importance</th>
            <th>Due date</th>
            <th>Done?</th>
        </tr>
    </thead>
    <tbody>
    {% for task in object_list %}
        <tr>
            <td>{{task.name}}</td>
            <td>{{task.estimated_duration}}</td>
            <td>{{task.importance}}</td>
            <td>{{task.due_date}}</td>
            <td>{% if task.done %}Yes{% else %}No{% endif %}</td>

            <td>
                <a  href="{% url 'task-detail' task.id  %}">details</a>
                <a  href="{% url 'task-update' task.id  %}">edit</a>
                <a  href="{% url 'task-delete' task.id  %}">delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
